<div class="jumbotron">
  <div class="inside-header">
    <h1>Here is your list, <%=@user.name%>.</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container">
  <div class="row inside-content">

    <div class="col-sm-8 info-box">
      <h4><%=@list.name%></h4>
      <% @list.items.each do |item| %>
        <div class="row display-row">
          <div class="col-sm-5"><p><a href="/items/<%=item.id%>"><%=item.name%></a><br><span class="location"><%=item.category.name%></span></p></div>
          <div class="col-sm-4"><p>Condition Status:<br><span class="location"><%=item.condition_status%><% if item.expired? && !item.condition_status.blank? %>, <% end %><%='expired' if item.expired?%></span></p></div>
          <div class="col-sm-3"><p><a href="/items/<%=item.id%>/edit">Update Item</a></p></div>
        </div>
      <% end %>

      <% if @list.auto_supported? %>
        <form action="/lists/<%=@list.id%>/update" method="post">
          <p><input class="delete-button" type="submit" value="Auto update this list"></p>
        </form>
      <% end %>

      <form action="/lists/<%=@list.id%>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <p><input class="delete-button" type="submit" value="Delete this list"></p>
      </form>
      <p><a href="/lists/<%=@list.id%>/edit">Edit this list</a></p>
      <p><a href="/lists">Return to all lists</a></p>
    </div>

    <div class="col-sm info-box col-right">
      <%= erb :sidenav %>
    </div>
  </div>
</div>
