<div class="jumbotron">
  <div class="inside-header">
    <h1>Let's update your information.</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container">
  <div class="row inside-content">
    <div class="col-sm-8 info-box">
      <h4>Update Your Account Information</h4>
      <% if flash.has?(:message) %>
        <p class="flash-error"><%= flash[:message] %></p>
      <% end %>
      <form action="/users/edit" method="post">

        <div class="row form-group">
          <div class="col-sm-3"><label for="user_name">Your Name:</label></div>
          <div class="col-sm-9"><input type="text" name="user[name]" value="<%=@user.name%>"></div>
        </div>

        <div class="row form-group">
          <div class="col-sm-3"><label for="user_email">Your Email:</label></div>
          <div class="col-sm-9"><input type="text" name="user[email]" value="<%=@user.email%>"></div>
        </div>

        <div class="row form-group">
          <div class="col-sm-3"><label for="user_password">Your Password:</label></div>
          <div class="col-sm-9"><input type="text" name="user[password]" placeholder="Enter a new password"></div>
        </div>

        <div class="row form-group">
          <input type="submit" value="Update">
        </div>
      </form>

      <div class="row form-group">
        <div class="col-sm-12 center">
          <form action="/users/delete" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete this account">
          </form>
        </div>
      </div>


    </div>

    <div class="col-sm info-box col-right">
      <%= erb :sidenav %>
    </div>
  </div>
</div>
