<div class="jumbotron">
  <div class="inside-header">
    <h1>Welcome home, <%= @user.name %>.</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container inside-content">
  <div class="row inside-content">
    <div class="col-sm info-box">
      <h4>Summary</h4>
      <p>You have <a href="/items"><%= @user.items.count %> items</a> in <a href="/categories"><%= @user.categories.count %> categories</a> and <a href="/locations"><%= @user.locations.count %> locations</a>.</p>
      <p>You most recently added <a href="/items/<%=@user.items.last.id%>"><%= @user.items.last.name %></a>.</p>
    </div>

    <div class="col-sm info-box">
      <h4>To Do Lists</h4>
      <p>You have items on <strong>X lists</strong>, including:</p>
      <ul>
        <li>Shopping List</li>
        <li>Drycleaning</li>
      </ul>
  </div>

  <div class="col-sm info-box col-right">
    <h4>Your Household</h4>
    <p>
      <a href="/items">View All Items</a><br>
      <a href="/locations">View by Location</a><br>
      <a href="/categories">View by Category</a><br>
      <a href="/items/create">Add a New Item</a>
    </p>
  </div>
<div>
