<div class="jumbotron">
  <div class="inside-header">
    <h1>Welcome home, <%= @user.name %>.</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container">
  <div class="row inside-content">
    <div class="col-sm info-box">
      <h4>Summary</h4>
      <% if @user.items.empty? %>
        <p>You don't have any items yet! <a href="/items/new">Add an item to your home inventory.</a></p>
      <% elsif @user.items.count == 1 %>
        <p>You have <a href="/items">1 item</a> in <a href="/categories">1 category</a> and <a href="/locations">1 location</a>.</p>
        <p>You most recently added <a href="/items/<%=@user.items.last.id%>"><%= @user.items.last.name %></a>.</p>
      <% else %>
        <p>You have <a href="/items"><%= @user.items.count %> items</a> in <a href="/categories"><%= @user.categories.uniq.count %> categories</a> and <a href="/locations"><%= @user.locations.uniq.count %> locations</a>.</p>
        <p>You most recently added <a href="/items/<%=@user.items.last.id%>"><%= @user.items.last.name %></a>.</p>
      <% end %>
    </div>

    <div class="col-sm info-box">
      <h4>Your Lists</h4>
      <% if @user.lists.empty? %>
        <p>You don't have any lists yet! <a href="/lists/new">Create a new list here.</a></p>
      <% else %>
        <p>You have items on <a href="/lists"><%= @user.lists.count %> lists</a>, including:</p>
        <ul>
          <% @user.lists.each do |list| %>
            <li><a href="/lists/<%=list.id%>"><%=list.name%></a></li>
            <% end %>
        </ul>
      <% end %>
  </div>

  <div class="col-sm info-box col-right">
    <%= erb :sidenav %>
  </div>
<div>
