<div class="jumbotron">
    <div class="inside-header">
      <h1>Here are all your things, <%=@user.name%>.</h1>
    </div>

    <div class="inside-nav">
      <%= erb :nav %>
    </div>
</div>

<div class="container">
  <div class="row inside-content">

    <div class="col-sm-8 info-box">
      <h4>Complete Home Inventory</h4>
      <div class="long-list">
        <% if @user_items.empty? %>
        <div>
          <p>You don't have any items yet! <a href="/items/new">Add an item to your home inventory.</a></p>
        </div>
        <% else %>
          <% @user_items.each do |item| %>
            <div>
              <p><a href="/items/<%=item.id%>"><%=item.name%></a><br>
              <span class="location">In the <%=item.location.name%></span></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm info-box col-right">
      <%= erb :sidenav %>
    </div>

  </div>

</div>
