<div class="jumbotron">
    <div class="inside-header">
      <h1><%=@user.name%>'s Home Inventory</h1>
    </div>

    <div class="inside-nav">
      <%= erb :nav %>
    </div>
</div>

<div class="container-fluid">
  <div class="row inside-content">

    <div class="col-sm-8 info-box">
      <h4>Complete Home Inventory</h4>
      <% @user_items.each do |item| %>
        <p><strong><%=item.name%></strong><br>
          <strong>Location:</strong> <%=item.location.name%><br>
          <a href="/items/<%=item.id%>">View more information</a></p>
      <% end %>
    </div>

    <div class="col-sm-4 info-box">
      <%= erb :sidenav %>
    </div>

  </div>

</div>
