<div class="jumbotron">
  <div class="inside-header">
    <h1>Here is your <%=@item.name%>.</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container">
  <div class="row inside-content">

    <div class="col-sm-8 info-box">
      <h4><%=@item.name%></h4>
      <div class="row display-row">
        <div class="col-sm-3 display-label">Location:</div>
        <div class="col-sm-9"><%=@item.location.name%></div>
      </div>

      <div class="row display-row">
        <div class="col-sm-3 display-label">Category:</div>
        <div class="col-sm-9"><%=@item.category.name%></div>
      </div>

      <% if @item.perishable != "" %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Perishable:</div>
          <div class="col-sm-9"><%='Yes' if !!@item.perishable%> <%='No' if !@item.perishable%></div>
        </div>
      <% end %>

      <% if @item.condition_status != "" %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Condition Status:</div>
          <div class="col-sm-9"><%=@item.condition_status%></div>
        </div>
      <% end %>

      <% if @item.condition_notes != "" %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Condition Notes:</div>
          <div class="col-sm-9"><%=@item.condition_notes%></div>
        </div>
      <% end %>

      <% if @item.registration_code != "" %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Registration Code:</div>
          <div class="col-sm-9"><%=@item.registration_code%></div>
        </div>
      <% end %>

      <% if @item.value %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Replacement Value:</div>
          <div class="col-sm-9">$<%=@item.value%></div>
        </div>
      <% end %>

      <% if @item.size != nil %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Size:</div>
          <div class="col-sm-9"><%=@item.size%></div>
        </div>
      <% end %>

      <% if @item.weight != "" %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Weight:</div>
          <div class="col-sm-9"><%=@item.weight%></div>
        </div>
      <% end %>

      <% if @item.date_acquired %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Date Acquired:</div>
          <div class="col-sm-9"><%=@item.date_acquired%></div>
        </div>
      <% end %>

      <% if @item.source != "" %>
        <div class="row display-row">
          <div class="col-sm-3 display-label">Source:</div>
          <div class="col-sm-9"><%=@item.source%></div>
        </div>
      <% end %>

        <p><a href="/items/<%=@item.id%>/edit">Edit this item</a></p>
        <p><a href="/items">Back to all items</a></p>
    </div>

    <div class="col-sm info-box col-right">
      <%= erb :sidenav %>
    </div>
  </div>
</div>
