<div class="jumbotron">
  <div class="inside-header">
    <h1><%=@user.name%>'s Items by Location</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container-fluid">
  <div class="row inside-content">
    <div class="col-sm-8 info-box">
      <% @user_categories.each do |category| %>
      <h4><a href="/categories/<%=category.id%>"><%=category.name%></a> (<a href="/categories/<%=category.id%>/edit">edit</a>)</h4>
        <ul>
          <% category.items.each do |item| %>
            <li><%=item.name if @user.items.include?(item)%></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="col-sm-4 info-box">
      <h4>Sidebar</h4>
    </div>


  </div>

</div>
