<div class="jumbotron">
  <div class="inside-header">
    <h1>Here are your items.</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container">
  <div class="row inside-content">
    <div class="col-sm-8 info-box">
      <h4><%=@category.name%></h4>

      <p>
        <% @user_items.each do |item| %>
          <% if @category.items.include?(item) %>
            <a href="/items/<%=item.id%>"><%=item.name%></a><br>
          <% end %>
        <% end %>
      </p>



      <p><a href="/categories">Return to all categories</a></p>
    </div>

    <div class="col-sm info-box col-right">
      <%= erb :sidenav %>
    </div>
  </div>
</div>
