<div class="jumbotron">
  <div class="inside-header">
    <h1>Here are your <%=@category.name.pluralize.downcase%>.</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container">
  <div class="row inside-content">
    <div class="col-sm info-box">
      <h4><%=@category.name%> Summary</h4>
      <p>You have <%=@category_items.count%> items in <%=@category_locations.uniq.count%> locations.</p>

      <% if !@category.admin_lock %>
        <p><a href="/categories/<%=@category.id%>/edit">Edit this category</a></p>
      <% end %>
      <p><a href="/categories">Return to all categories</a></p>
    </div>

    <div class="col-sm info-box">
      <h4><%=@category.name%> Inventory</h4>

      <p>
        <% @user_items.each do |item| %>
          <% if @category.items.include?(item) %>
            <p><a href="/items/<%=item.id%>"><%=item.name%></a><br>
              <span class="location">In the <%=item.location.name%></span></p>
          <% end %>
        <% end %>
      </p>

    </div>

    <div class="col-sm info-box col-right">
      <%= erb :sidenav %>
    </div>
  </div>
</div>
