<div class="jumbotron">
  <div class="inside-header">
    <h1><%=@user.name%>'s Items by Location</h1>
  </div>

  <div class="inside-nav">
    <%= erb :nav %>
  </div>
</div>

<div class="container">
  <div class="row inside-content">

    <div class="col-sm-8 info-box">
      <h4>Inventory by Location</h4>
      <div class="long-list">
        <% @user_locations.each do |location| %>
          <div>
            <p class="category"><a href="/locations/<%=location.id%>"><%=location.name%></a></p>
                <% location.items.each do |item| %>
                  <p><a href="/items/<%=item.id%>"><%=item.name if @user.items.include?(item)%></a><br>
                  <span class="location"><%=item.category.name%></span></p>
                <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm info-box col-right">
      <%= erb :sidenav %>
    </div>

  </div>
</div>
