<div class="container inside-wrapper">

  <div class="row inside-header">
    <h1><%=@user.name%>'s Items by Location</h1>
  </div>

  <div class="row inside-nav">
    <%= erb :nav %>
  </div>

  <div class="row inside-content">

    <div class="col-sm-8 info-box">
      <% @user_locations.each do |location| %>
      <h4><a href="/locations/<%=location.id%>"><%=location.name%></a> (<a href="/locations/<%=location.id%>/edit">edit</a>)</h4>
        <ul>
          <% location.items.each do |item| %>
            <li><%=item.name if @user.items.include?(item)%></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="col-sm-4 info-box">
      <h4>Sidebar</h4>
    </div>

  </div>
</div>
